@model part5csc471.Entities.VaccinationSite

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VaccinationSite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddrStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddrStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddrCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddrCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddrState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddrState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddrZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddrZip)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Name">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
