@model part5csc471.Entities.Takes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Takes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScientNameNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScientNameNavigation.ScientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteNameNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteNameNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
